{{!--
Arguments:
    - categories (array)
    - limit (number)
    - sub_limit (number)
    - style (string)
--}}
{{#if limit '>' 0}}
<h2 class="page-heading"><span>{{lang 'papasupermarket.categories_list.heading'}}</span></h2>
<section class="papaSupermarket-categoriesList-section {{#if style}}papaSupermarket-categoriesList-section--{{style}}{{/if}}">
    <ul class="papaSupermarket-categoriesList">
        {{#each (limit categories limit)}}
            <li class="papaSupermarket-categoriesList-item">
                <div class="papaSupermarket-categoriesList-item-body">
                    <h4 class="papaSupermarket-categoriesList-item-name"><a href="{{url}}">{{name}}</a></h4>
                    {{#if children}}
                    <ul class="papaSupermarket-subCategoriesList">
                        {{#each (limit children ../../sub_limit)}}
                        <li class="papaSupermarket-subCategoriesList-item"><a href="{{url}}">{{name}}</a></li>
                        {{/each}}
                    </ul>
                    <div class="papaSupermarket-categoriesList-item-moreLink"><a href="{{url}}">{{lang 'papasupermarket.categories_list.see_all'}}</a></div>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
</section>
{{/if}}
