<div class="sidebarBlock sidebarBlock--navList sidebarBlock--brands sidebarBlock--mobileCollapsible">
    <h5 class="sidebarBlock-heading is-open" data-collapsible="#brands-navList" data-collapsible-disabled-breakpoint="medium" aria-expanded="true">{{lang 'footer.brands'}}</h5>
    <ul id="brands-navList" class="navList is-open" aria-hidden="false">
        {{#each shop_by_brand}}
        <li class="navList-item"><a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a></li>
        {{/each}}
        <li class="navList-item"><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
    </ul>
</div>
