{{#if product_results.products.length}}
    {{> components/products/filter 
        sort=pagination.product_results.sort 
        pager=pagination.product_results
        list=product_results
        products_per_page=theme_settings.searchpage_products_per_page
        id_suffix='_main'
    }}
{{/if}}
<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{> components/products/grid products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
</form>

{{> components/common/paginator pagination.product_results}}
