{{#each shipping_messages}}
    {{> components/common/alert-info message}}
{{/each}}

<div class="main full">

    {{> components/emthemes-modez/sections/section section="bc_banner_home_1"}}
    {{> components/emthemes-modez/sections/section section="special_products_tabs"}}
    {{> components/emthemes-modez/sections/section section="products_by_category_sorting_tabs"}}
    {{> components/emthemes-modez/sections/section section="categories_list"}}
    {{> components/emthemes-modez/sections/section section="bc_banner_home_2"}}
    {{> components/emthemes-modez/sections/section section="bc_banner_home_3"}}
    {{> components/emthemes-modez/sections/section section="special_products_columns"}}


    {{! MORE BLOCKS: }}
    {{!> components/emthemes-modez/sections/section section="new_products"}}
    {{!> components/emthemes-modez/sections/section section="banner_3x_1"}}
    {{!> components/emthemes-modez/sections/section section="banner_3x_2"}}
    {{!> components/emthemes-modez/sections/section section="products_by_category_1"}}
    {{!> components/emthemes-modez/sections/section section="products_by_category_2"}}
    {{!> components/emthemes-modez/sections/section section="products_by_category_3"}}
    {{!> components/emthemes-modez/sections/section section="featured_products"}}
    {{!> components/emthemes-modez/sections/section section="popular_products"}}
    {{!> components/emthemes-modez/sections/section section="categories_grid"}}
    {{!> components/emthemes-modez/sections/section section="products_by_category_subcategories_tabs_1"}}
    {{!> components/emthemes-modez/sections/section section="products_by_category_subcategories_tabs_2"}}
    {{!> components/emthemes-modez/sections/section section="products_by_category_subcategories_tabs_3"}}
    {{!> components/emthemes-modez/sections/section section="banner_half_1"}}
    {{!> components/emthemes-modez/sections/section section="banner_one_1"}}
    {{!> components/emthemes-modez/sections/section section="images_carousel"}}
</div>
