.productGrid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: spacing("double");

    &:before,
    &:after {
        display: none;
    }
    
    .product {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-left: 0;
        padding-right: 0;

        @include breakpoint("medium") {
            flex-basis: 25%;
        }

        // IE 10+ hack
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            display: block;
        }
    }
}

.productCarousel,
.productGrid {
    .card {
        padding: spacing("half");
        border: container("border");
        border-color: transparent;
        flex: 1;
        position: relative;

        @include breakpoint("small") {
            padding-bottom: spacing("half") + spacing("base") + buttonSize("small", "verticalPadding") * 2 + spacing("half");
        }

        @include breakpoint("medium") {
            padding-bottom: spacing("half");

            &:hover .card-buttons {
                visibility: visible;
                clip: auto;
                opacity: 1;
                padding-top: 0;
            }
        }

        .dropdown--quickSearch & {
            background-color: container("fill");
        }
    }

    .card-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: spacing("half");
        display: none;

        @include breakpoint("small") {
            display: flex;
            align-items: flex-start;
        }

        @include breakpoint("medium") {
            visibility: hidden;
            clip: rect(0, 0, 0, 0);
            opacity: 0;
            transition: opacity 0.5s ease;
        }
        
        @mixin icon($icon) {
            &:before {
                text-indent: 0;
                float: left;
                font-family: FontAwesome;
                font-size: fontSize("base");
                content: '"' + unquote($icon) + '"';
                padding-right: spacing("quarter");
            }

            &.button--small {
                padding: buttonSize("small", "verticalPadding");
            }
        }

        @mixin hideText() {
            font-size: 0;
            text-indent: -9999px;

            &:before {
                padding-right: 0;
            }
        }

        .card-figcaption-button {
            @include icon(\f07a);
            flex: 1;
            margin-left: spacing("quarter");
            font-size: fontSize("base");
            letter-spacing: 0;

            &:first-child {
                margin-left: 0;
            }
        }

        .card-figcaption-button--compare {
            @include icon(\f0ec);
            @include hideText();

            flex: 0;

            input[type="checkbox"], 
            input[type="radio"] {
                width: 0;
                height: 0;
                clip: rect(0, 0, 0, 0);
            }
        }

        .card-figcaption-button.quickview {
            @include icon(\f002);
            white-space: nowrap;
        }
    }


    .card-buttons--alt {
        position: absolute;
        bottom: auto;
        top: 50%;
        left: 0;
        right: 0;
        width: auto;
        padding: 0;
        transform: translateY(-50%);
        justify-content: center;

        // hide by default
        visibility: hidden;
        clip: rect(0, 0, 0, 0);
        opacity: 0;
        transition: opacity 0.5s ease;

        @at-root .card:hover .card-buttons--alt {
            visibility: visible;
            clip: auto;
            opacity: 1;
        }

        .card-figcaption-button {
            flex: 0 1 auto;
        }
    }
}



// Product when sidebar is present
// -----------------------------------------------------------------------------
//
// 1. When the sidebar is visible, still show 4 products per row
//
// -----------------------------------------------------------------------------

.page-sidebar + .page-content {

    .productGrid {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product { // 1
            @include breakpoint("small") {
                width: grid-calc(3, $total-columns);
            }
        }
    }
}




// ============================================================================
// VARIATIONS
// ============================================================================

// .productGrid--maxCol5,
// .productGrid--maxCol6 {
//     @include breakpoint("medium") {
//         .card {
//             padding-bottom: spacing("half");

//             &:hover .card-buttons {
//                 visibility: visible;
//                 clip: auto;
//                 opacity: 1;
//             }
//         }

//         .card-buttons {
//             visibility: hidden;
//             clip: rect(0, 0, 0, 0);
//             opacity: 0;
//             transition: opacity 0.5s ease;
//         }
//     }
// }


.mode-2 .productGrid,
.productGrid--maxCol2 {
    .no-csscolumns & {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include breakpoint("medium") {
                width: grid-calc(1, 2);
                flex-basis: 50%;
            }
        }
    }

    .csscolumns & {
        @include breakpoint("medium") {
            width: auto;
            padding: 0;
            float: none;

            // scss-lint:disable SelectorDepth, NestingDepth
            .product {
                width: grid-calc(1, 2);
                flex-basis: 50%;
            }
        }
    }
}

.mode-3 .productGrid,
.productGrid--maxCol3 {
    .no-csscolumns & {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include breakpoint("medium") {
                width: grid-calc(1, 3);
                flex-basis: width('4/12');
            }
        }
    }

    .csscolumns & {
        @include breakpoint("medium") {
            width: auto;
            padding: 0;
            float: none;

            // scss-lint:disable SelectorDepth, NestingDepth
            .product {
                width: grid-calc(1, 3);
                flex-basis: width('4/12');
            }
        }
    }
}

.mode-5 .productGrid,
.productGrid--maxCol5 {
    .no-csscolumns & {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include breakpoint("medium") {
                width: grid-calc(1, 5);
                flex-basis: 20%;
            }
        }
    }

    .csscolumns & {
        @include breakpoint("medium") {
            width: auto;
            padding: 0;
            float: none;

            // scss-lint:disable SelectorDepth, NestingDepth
            .product {
                width: grid-calc(1, 5);
                flex-basis: 20%;
            }
        }
    }
}

.mode-6 .productGrid,
.productGrid--maxCol6 {
    .no-csscolumns & {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include breakpoint("medium") {
                flex-basis: grid-calc(1, 6);
            }
        }
    }

    .csscolumns & {
        @include breakpoint("medium") {
            padding: 0;
            width: auto;
            float: none;

            // scss-lint:disable SelectorDepth, NestingDepth
            .product {
                flex-basis: grid-calc(1, 6);
            }
        }
    }
}

.mode-1 .productGrid {
    .product {
        width: 100%;
        flex-basis: 100%;
    }

    .card {
        @include clearfix;
    }

    .card-figure {
        width: calc(50% - #{spacing("half")});
        float: left;

        @include breakpoint("small") {
            width: calc(#{width('4/12')} - #{spacing("single")*2/3});
        }
    }

    // .card-figcaption {
    //     opacity: 1;
    //     display: block;
    //     left: calc(100% + #{spacing("single")});
    //     top: auto;
    //     right: calc(-100% - #{spacing("single")});
    // }

    // .card-buttons {
    //     display: flex;
    //     padding: 0;
    //     flex-wrap: wrap;
    // }

    .card-body {
        width: calc(50% - #{spacing("half")});
        float: right;
        text-align: left;
        padding-top: 0;

        @include breakpoint("small") {
            width: calc(#{width('5/12')} - #{spacing("single")*2/3});
            float: left;
            margin-left: spacing("single");
        }

        .card-text--price {
            display: none;
        }
    }

    .card-text--summary {
        @include breakpoint("small") {
            display: block;
        }
    }

    .card-aside {
        width: calc(50% - #{spacing("half")});
        display: block;
        float: right;
        clear: right;

        @include breakpoint("small") {
            width: calc(#{width('3/12')} - #{spacing("single")*2/3});
            text-align: center;
        }

        @include breakpoint("xxlarge") {
            width: calc(#{width('2/12')} - #{spacing("single")*2/3});
        }

        .price {
            font-size: fontSize("small");
            font-weight: fontWeight("bold");
        }

        .card-buttons {
            position: static;
            display: block;
            padding: 0;
            visibility: visible;
            clip: none;
            opacity: 1;

            .card-figcaption-button {
                margin-left: 0;
                // text-align: left;
                &:before {
                    min-width: remCalc(20);
                    // float: none;
                    // display: inline;
                }
            }

            .card-figcaption-button--compare {
                width: auto;
                float: left;

                @include breakpoint("small") {
                    float: none;
                    font-size: fontSize("base");
                    text-indent: 0;
                }

                + .card-figcaption-button.quickview {
                    margin-left: spacing("quarter");

                    @include breakpoint("small") {
                        margin-left: 0;
                    }
                }
            }

            .card-figcaption-button.quickview {
                float: left;

                @include breakpoint("small") {
                    float: none;
                }
            }
        }
    }
}
